* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-light {
  background-color: orangered !important;
}
.bg-cards {
  background-color: white;
  border: 1px solid #cccccc;
  border-left: 15px solid orangered;
}
.text-orangered {
  color: orangered;
}
.botones a {
  text-decoration: none;
}
.botones a .card {
  transition: all .5s ease;
}
.botones a:hover .card {
  transform: scale(1.15);
}